@import "tailwindcss";

body {
  font-family:"Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --light-theme-bg: #ffffff;
  --dark-theme-bg: #1a1b1c;
  --window-control-btn-hover: #2d2d2d;
}
